html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 100%;
}

.marill {
  position: absolute;
  margin: -15em;
  top: 50%;
  left: 50%;
  height: 30em;
  width: 30em;
  -webkit-animation: fluffy 3s infinite linear;
          animation: fluffy 3s infinite linear;
}

.head {
  position: absolute;
  margin: 0;
  top: 30%;
  left: 40%;
  height: 15em;
  width: 15em;
  border: 0.3em solid #000;
  background: #72c1e1;
  border-radius: 50%;
  border-top-left-radius: 140px;
  -webkit-box-shadow: inset 0em -0.7em #45add7;
          box-shadow: inset 0em -0.7em #45add7;
  z-index: 9;
}

.head::before {
  position: absolute;
  margin: 7.65em 0 0 1.95em;
  height: 7em;
  width: 12.5em;
  content: '';
  background: #fff;
  border-left: 0.3em solid #000;
  border-right: 0.3em solid #000;
  border-bottom: 0.3em solid #000;
  border-top-left-radius: 6.25em 3em;
  border-top-right-radius: 6.25em 3em;
  border-bottom-left-radius: 7em 4em;
  border-bottom-right-radius: 5.5em 4em;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-box-shadow: inset 0em -0.4em #e6e6e6;
          box-shadow: inset 0em -0.4em #e6e6e6;
}

.head::after {
  position: absolute;
  margin: 0 0 0 5.5em;
  height: 1.5em;
  width: 4em;
  content: '';
  background: #9adbf5;
  border-radius: 50%;
}

.head .left-eye {
  position: absolute;
  margin: 0;
  top: 25%;
  left: 80%;
  height: 1.8em;
  width: 1.4em;
  background: #000;
  border-radius: 50%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.head .left-eye::before {
  position: absolute;
  margin: 0.2em 0 0 0.4em;
  height: 0.7em;
  width: 0.55em;
  content: '';
  background: #fff;
  border-radius: 50%;
}

.head .right-eye {
  position: absolute;
  margin: 0;
  top: 25%;
  left: 44%;
  height: 1.8em;
  width: 1.6em;
  background: #000;
  border-radius: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.head .right-eye::before {
  position: absolute;
  margin: 0.2em 0 0 0.5em;
  height: 0.8em;
  width: 0.8em;
  content: '';
  background: #fff;
  border-radius: 50%;
}

.head .mouth {
  position: absolute;
  margin: 0;
  top: 40%;
  left: 60%;
  height: 0.8em;
  width: 2.5em;
  background: #72c1e1;
  border-bottom: 0.3em solid #000;
  border-bottom-left-radius: 1.25em 0.8em;
  border-bottom-right-radius: 1.25em 0.8em;
}

.head .mouth::before {
  position: absolute;
  margin: -0.2em 0 0 1.5em;
  height: 0.2em;
  width: 0.3em;
  content: '';
  background: #000;
}

.left-ear {
  position: absolute;
  margin: 0;
  top: 20%;
  left: 75%;
  height: 7em;
  width: 6.2em;
  border: 0.3em solid #000;
  background: #72c1e1;
  border-radius: 49%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  z-index: 8;
}

.left-ear::before {
  position: absolute;
  margin: 1.6em 0 0 0.6em;
  height: 4.4em;
  width: 4.2em;
  content: '';
  border: 0.3em solid #000;
  background: red;
  border-radius: 46%;
  -webkit-box-shadow: inset 0em 1em #c70303;
          box-shadow: inset 0em 1em #c70303;
}

.left-ear::after {
  position: absolute;
  margin: 0 0 0 1.4em;
  height: 1em;
  width: 2em;
  content: '';
  background: #9adbf5;
  border-radius: 50%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.right-ear {
  position: absolute;
  margin: 0;
  top: 20%;
  left: 38%;
  height: 7em;
  width: 6.5em;
  border-top: 0.3em solid #000;
  border-left: 0.3em solid #000;
  border-right: 0.2em solid #000;
  border-bottom: 0.2em solid #000;
  background: #72c1e1;
  border-radius: 47%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: 10;
}

.right-ear::before {
  position: absolute;
  margin: 1.9em 0 0 1.9em;
  height: 4.5em;
  width: 4.5em;
  content: '';
  background: #45add7;
  border-radius: 50%;
}

.right-ear::after {
  position: absolute;
  margin: 1.3em 0 0 1.3em;
  height: 4.6em;
  width: 4.4em;
  content: '';
  border: 0.3em solid #000;
  background: red;
  border-radius: 46%;
  -webkit-box-shadow: inset 1em 1em #c70303;
          box-shadow: inset 1em 1em #c70303;
}

.right-ear .ear-fix {
  position: absolute;
  margin: 0;
  top: 68%;
  left: 71%;
  height: 0.8em;
  width: 2em;
  background: #45add7;
  border-top: 0.3em solid #000;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  border-top-left-radius: 1em 0.5em;
  border-top-right-radius: 1em 0.5em;
  z-index: 10;
}

.right-ear .ear-fix::before {
  position: absolute;
  margin: -5.7em 0 0 0.6em;
  height: 1.2em;
  width: 2.3em;
  content: '';
  background: #9adbf5;
  border-radius: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.left-hand {
  position: absolute;
  margin: 0;
  top: 53%;
  left: 88%;
  height: 3em;
  width: 1.8em;
  border-left: 0.3em solid #000;
  border-right: 0.3em solid #000;
  border-bottom: 0.3em solid #000;
  background: #45add7;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  z-index: 8;
}

.right-hand {
  position: absolute;
  margin: 0;
  top: 53%;
  left: 46%;
  height: 3em;
  width: 2em;
  border-left: 0.3em solid #000;
  border-right: 0.3em solid #000;
  border-bottom: 0.3em solid #000;
  background: #72c1e1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  z-index: 10;
}

.left-foot {
  position: absolute;
  margin: 0;
  top: 74%;
  left: 70%;
  height: 3.5em;
  width: 2.2em;
  border-left: 0.3em solid #000;
  border-right: 0.3em solid #000;
  border-bottom: 0.3em solid #000;
  background: #45add7;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 8;
}

.right-foot {
  position: absolute;
  margin: 0;
  top: 75%;
  left: 45%;
  height: 3.5em;
  width: 2.2em;
  border-left: 0.3em solid #000;
  border-right: 0.3em solid #000;
  border-bottom: 0.3em solid #000;
  background: #45add7;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 8;
}

.right-foot::before {
  position: absolute;
  margin: 1.75em 0 0 0.1em;
  height: 1.5em;
  width: 1.5em;
  content: '';
  background: #72c1e1;
  border-radius: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.tail {
  position: absolute;
  margin: 0;
  top: 30%;
  left: 10%;
  height: 7em;
  width: 7em;
  border: 0.3em solid #000;
  background: #72c1e1;
  border-radius: 50%;
  -webkit-box-shadow: inset 0em -0.5em #45add7;
          box-shadow: inset 0em -0.5em #45add7;
}

.tail::before {
  position: absolute;
  margin: 0.3em 0 0 0.2em;
  height: 2em;
  width: 4em;
  content: '';
  background: #9adbf5;
  border-radius: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.tail-black {
  position: absolute;
  margin: 0;
  top: 60%;
  left: 30%;
  height: 1em;
  width: 5em;
  background: #000;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 8;
}

.tail-black::before {
  position: absolute;
  margin: 0.6em 0 0 -0.2em;
  height: 3em;
  width: 1em;
  content: '';
  background: #000;
  -webkit-transform: perspective(4em) rotateY(-30deg) rotate(5deg);
          transform: perspective(4em) rotateY(-30deg) rotate(5deg);
}

.tail-black::after {
  position: absolute;
  margin: 2.4em 0 0 -2.6em;
  height: 1em;
  width: 3em;
  content: '';
  background: #000;
  -webkit-transform: perspective(4em) rotateX(30deg) rotate(10deg);
          transform: perspective(4em) rotateX(30deg) rotate(10deg);
}

.tail-black2 {
  position: absolute;
  margin: 0;
  top: 59%;
  left: 17%;
  height: 2em;
  width: 0.7em;
  background: #000;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.tail-black2::before {
  position: absolute;
  margin: 1.4em 0 0 -1.3em;
  height: 0.9em;
  width: 2em;
  content: '';
  background: #000;
  -webkit-transform: perspective(4em) rotateX(50deg);
          transform: perspective(4em) rotateX(50deg);
}

.tail-black2::after {
  position: absolute;
  margin: 1.5em 0 0 -1.6em;
  height: 1.7em;
  width: 0.8em;
  content: '';
  background: #000;
  -webkit-transform: perspective(4em) rotateY(-50deg) rotate(20deg);
          transform: perspective(4em) rotateY(-50deg) rotate(20deg);
}

.tail-black3 {
  position: absolute;
  margin: 0.1em 0 0 0.05em;
  top: 55%;
  left: 9%;
  height: 2em;
  width: 0.5em;
  background: #000;
}

.tail-black3::before {
  position: absolute;
  margin: -0.5em 0 0 -1.5em;
  height: 1.1em;
  width: 2em;
  content: '';
  background: #000;
  -webkit-transform: perspective(4em) rotateX(70deg) rotate(15deg);
          transform: perspective(4em) rotateX(70deg) rotate(15deg);
}

.tail-black3::after {
  position: absolute;
  margin: -0.95em 0 0 -2.1em;
  height: 0.7em;
  width: 4em;
  content: '';
  background: #000;
  -webkit-transform: perspective(6em) rotateX(-60deg) rotate(-50deg);
          transform: perspective(6em) rotateX(-60deg) rotate(-50deg);
}

@-webkit-keyframes fluffy {
  0%, 100% {
    top: 40%;
    -webkit-transform: scale(0.98, 1.02);
            transform: scale(0.98, 1.02);
  }
  25%, 75% {
    top: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 60%;
    -webkit-transform: scale(1.02, 0.98);
            transform: scale(1.02, 0.98);
  }
}

@keyframes fluffy {
  0%, 100% {
    top: 40%;
    -webkit-transform: scale(0.98, 1.02);
            transform: scale(0.98, 1.02);
  }
  25%, 75% {
    top: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 60%;
    -webkit-transform: scale(1.02, 0.98);
            transform: scale(1.02, 0.98);
  }
}
/*# sourceMappingURL=style.css.map */